Project/Library
Project/Logs
Project/Temp
Project/UserSettings
Project/.vscode
Project/*.csproj
Project/*.sln
Project/.idea
Project/obj
.vscode
Builds
Project/Project.sln.DotSettings.user
Project/Assets/Plugins/FMOD/Cache
Project/Assets/Plugins/FMOD/Cache.meta
Project/Assets/StreamingAssets/**/*.bank
Project/Assets/StreamingAssets/**/*.bank.meta
Project/Builds
Project/Assets/AddressableAssetsData/iOS
Project/Assets/AddressableAssetsData/iOS.meta
Project/Assets/AddressableAssetsData/Windows
Project/Assets/AddressableAssetsData/Windows.meta
Project/Assets/AddressableAssetsData/OSX
Project/Assets/AddressableAssetsData/OSX.meta
Project/Assets/AddressableAssetsData/Linux
Project/Assets/AddressableAssetsData/Linux.meta
Project/Assets/AddressableAssetsData/Android
Project/Assets/AddressableAssetsData/Android.meta
Project/Assets/MMD4Mecanim
Project/Assets/MMD4Mecanim.meta
Project/Assets/Res/MMD
Project/Assets/Res/MMD.meta
Project/fmod_editor.log
Project/Assets/Res/Raw
Project/Assets/Res/Raw.meta
Project/Assets/Plugins/ffmpeg/

