<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="org.k2fsa.sherpa.onnx" version="1.11.2" manuallyInstalled="true" />
  <package id="org.k2fsa.sherpa.onnx.runtime.linux-arm64" version="1.11.2" />
  <package id="org.k2fsa.sherpa.onnx.runtime.linux-x64" version="1.11.2" />
  <package id="org.k2fsa.sherpa.onnx.runtime.osx-arm64" version="1.11.2" />
  <package id="org.k2fsa.sherpa.onnx.runtime.osx-x64" version="1.11.2" />
  <package id="org.k2fsa.sherpa.onnx.runtime.win-arm64" version="1.11.2" />
  <package id="org.k2fsa.sherpa.onnx.runtime.win-x64" version="1.11.2" />
  <package id="org.k2fsa.sherpa.onnx.runtime.win-x86" version="1.11.2" />
</packages>